name: Build Website

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Check index.html
        run: |
          if [ ! -f "index.html" ]; then
            echo "❌ index.html missing"
            exit 1
          else
            echo "✅ index.html found"
          fi
